.product-card {
  transition: 0.3s;
  border: none;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.product-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

/* product details */
.product-img {
  overflow: hidden;
}

.product-img img {
  transition: 0.4s;
  cursor: zoom-in;
}

.product-img img:hover {
  transform: scale(1.2);
}

/* Thumbnail */
.thumb {
  width: 70px;
  height: 70px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid #ddd;
  padding: 2px;
}

.thumb:hover {
  border-color: #007bff;
}
